.about {
  width: 100%;
}
.container-about {
  width: 90%;
  margin: auto;
  text-align: center;
}
.about h2 {
  text-align: center;
  color: #2e2e2e;
  font-size: 2em;
}
.about-slider {
  font-size: 1.2em;
  color: #2e2e2e;
  text-align: justify;
  font-weight: 500;
}
.container-about button {
  background-color: #3e606f;
  width: 100px;
  padding: 7px;
  margin: auto;
  display: inline-block;
  text-align: center;
  margin: 10px;
  border: none;
  border-radius: 7px;
  font-size: 1.1em;
  color: azure;
}

.textos {
  width: 100%;
}

.textos.show {
  display: none;
}
